        <div>
          {{main.user.data.displayName}}, we've got {{taskList.tasks.length}} tasks<br/>
          <button ng-click="taskList.addTask()">Add task</button>

          <table>
            <tr>
              <th>Owner</th>
              <th>Task description</th>
            </tr>
            <tr ng-repeat="task in taskList.tasks">
              <td>{{task.owner}}</td>
              <td>{{task.description}}</td>
              <td><span ng-show="task.can.edit">edit</span></td>
            </tr>
          </table>
        </div>