<div ng-show="main.isAuthenticated" ng-controller="TaskListCtrl as taskList">
    {{main.username}}, you've got {{taskList.numberOfTasks}} tasks
    <br/>


    <div ui-view="taskDetail"></div>



    <hr>Filter:
    <input ng-model="searchString">
    </br>
    <!-- tasks: {{taskList.tasks | json }} -->
    <table>
        <tr>
            <th>Owner</th>
            <th>Task description</th>
            <th></th>
        </tr>
        <tr ng-repeat="task in taskList.tasks | filter:searchString ">
            <td>{{task.owner}}</td>
            <td>{{task.description}}</td>
            <td><a ui-sref="tasks.detail({_id:task._id})">edit</a>
        </tr>
    </table>

</div>
